# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variable files
.env*

# gatsby files
.cache/
public

# webstorm config files
.idea/

# Mac files
.DS_Store
